.right {
    text-align: right;
    
}

.main {
    text-align: center;
    margin-top: 5%;
}

.bar {
   
    border-radius: 30px;
    width: 40%;
    padding: 12px 20px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid grey;
}

input[type=submit] {
    background-color: whitesmoke;
    width: 15%;
    padding: 8px 16px;
    border: 1px solid whitesmoke;
}

img {
    margin: 2%;
}

.adv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.adv-headers {
    margin-right: 40px;
    margin-left: 20px;
    line-height: 45px;
}

.adv-fields {
    margin:10px;
    width: 50%;
    line-height: 20px;
}

#adv-sub {
    background-color: rgb(66 133 244);
    color: white;
    width: 20%;
    margin: 10px;
}