.right {
    text-align: right;
    
}

.main {
    text-align: center;
    margin-top: 5%;
}

.bar {
   
    border-radius: 30px;
    width: 40%;
    padding: 12px 20px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid grey;
}

input[type=submit] {
    background-color: whitesmoke;
    width: 15%;
    padding: 8px 16px;
    border: 1px solid whitesmoke;
}

img {
    margin: 2%;
}

#adv {
    font-size: 22px;
    color: rgb(200, 31, 31);
    margin-bottom: 40px;
}

#find {
    font-size: 18px;
    margin-top: 60px;
}

p {
    margin-left: 40px;
}
  
  .container {
    width: 80%;
    max-width: 1200px;
  }
  
  .container * {
    box-sizing: border-box;
  }
  
  .flex-outer,
  .flex-inner {
    list-style-type: none;
    padding: 0;
  }
  
  .flex-outer {
    max-width: 800px;
    margin: 0 40px;
  }
  
  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
  }
  
  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .flex-outer li label,
  .flex-outer li p {
    padding: 4px;
  }
  
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }
  
  .flex-outer li p {
    margin: 0;
  }
  
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    padding: 8  px;
  }
  
  .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
  }
  
  .flex-inner li {
    width: 100px;
  }

  .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    background-color: rgb(66, 133, 244);
    color: white;
    border: 0px;
  }